In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as datetime

In [12]:
#read csv 
results = pd.read_csv('data/results.csv')

#get results from beginning of 1932
results = results[results['date'] >= '1994-01-01']

results

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
18234,1994-01-02,Barbados,Grenada,0,0,Friendly,Bridgetown,Barbados,False
18235,1994-01-02,Ghana,Egypt,2,1,Friendly,Accra,Ghana,False
18236,1994-01-05,Mali,Burkina Faso,1,1,Friendly,Bamako,Mali,False
18237,1994-01-09,Mauritania,Mali,1,3,Friendly,Nouakchott,Mauritania,False
18238,1994-01-11,Thailand,Nigeria,1,1,Friendly,Bangkok,Thailand,False
...,...,...,...,...,...,...,...,...,...
43183,2022-02-01,Suriname,Guyana,2,1,Friendly,Paramaribo,Suriname,False
43184,2022-02-02,Burkina Faso,Senegal,1,3,African Cup of Nations,Yaoundé,Cameroon,True
43185,2022-02-03,Cameroon,Egypt,0,0,African Cup of Nations,Yaoundé,Cameroon,False
43186,2022-02-05,Cameroon,Burkina Faso,3,3,African Cup of Nations,Yaoundé,Cameroon,False
43187,2022-02-06,Senegal,Egypt,0,0,African Cup of Nations,Yaoundé,Cameroon,True

In [13]:
results.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24954 entries, 18234 to 43187
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        24954 non-null  object
 1   home_team   24954 non-null  object
 2   away_team   24954 non-null  object
 3   home_score  24954 non-null  int64
 4   away_score  24954 non-null  int64
 5   tournament  24954 non-null  object
 6   city        24954 non-null  object
 7   country     24954 non-null  object
 8   neutral     24954 non-null  bool
dtypes: bool(1), int64(2), object(6)
memory usage: 1.7+ MB

In [14]:
results[results['tournament']!='Friendly'].shape

(16182, 9)

In [15]:
results['neutral'].value_counts()

False    18200
True      6754
Name: neutral, dtype: int64

In [16]:
#get the year from the date
results['year'] = results['date'].apply(lambda x: x[:4])
#get the month from the date
results['month'] = results['date'].apply(lambda x: x[5:7])

In [17]:
rankings = pd.read_csv('data/fifa_ranking.csv')
rankings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63054 entries, 0 to 63053
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               63054 non-null  int64
 1   rank             63054 non-null  int64
 2   country_full     63054 non-null  object
 3   country_abrv     63054 non-null  object
 4   total_points     63054 non-null  int64
 5   previous_points  63054 non-null  int64
 6   rank_change      63054 non-null  int64
 7   confederation    63054 non-null  object
 8   rank_date        63054 non-null  object
dtypes: int64(5), object(4)
memory usage: 4.3+ MB

In [18]:
rankings.head()

,id,rank,country_full,country_abrv,total_points,previous_points,rank_change,confederation,rank_date
0,43818,82,Iraq,IRQ,15,0,0,AFC,1992-12-31
1,43873,107,Mozambique,MOZ,9,0,0,CAF,1992-12-31
2,43816,108,Indonesia,IDN,9,0,0,AFC,1992-12-31
3,1882218,109,Antigua and Barbuda,ATG,8,0,0,CONCACAF,1992-12-31
4,43820,110,Jordan,JOR,8,0,0,AFC,1992-12-31

In [19]:
#get the year from the date
rankings['year'] = rankings['rank_date'].apply(lambda x: x[:4])
#get the month from the date
rankings['month'] = rankings['rank_date'].apply(lambda x: x[5:7])

In [20]:
#get distinct year and month
years_lst = rankings['year'].unique()
months_lst = rankings['month'].unique()
countries_lst = rankings['country_full'].unique()
# if year and month didn't exist, then create them and fill the ranking with previous month ranking
missing_ranking = {}
for i in range(1993,2022,1):
    year = i
    for j in range(1,13,1):
        month = j
        if j not in months_lst:
            for country in countries_lst:
                if j==1:
                    year = i-1
                    month = 12
                prev_ranking = rankings.query("year==@year and month==@month and country_full==@country")
                #add row
                missing_ranking.update({'year':i, 'month':j, 'country_full':country, 'rank':prev_ranking.iloc[0]['rank']})

#missing_ranking = pd.concat(missing_ranking)
missing_ranking

IndexError: single positional indexer is out-of-bounds